# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Typescript
dist/
build/
*.tsbuildinfo

# Prisma
/backend/prisma/*.db
/backend/prisma/*.db-journal

# Postgres/Docker
postgres_data/
postgres_data_v2/
